fastapi==0.73.0
mangum==0.12.3
pydantic==1.9.0
#boto3==1.20.24
#botocore~=1.23.54
SQLAlchemy~=2.0.29
asyncpg~=0.27.0        # For async PostgreSQL support with SQLAlchemy
uvicorn==0.17.1
greenlet==3.0.3